body{
    background-color: #1A1A1C;
    color: #C4C3C5;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

h1{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: -1rem;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    text-decoration: underline;
}
#table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

tr td {
    padding: 0 1.5rem;
    font-size: 1.2rem;
    height: 6rem;
}

tr{
    border-bottom: 1.5px solid #C4C3C5;
}

img{
    width: 20%;
    /* float: left; */
}

/* text{
    float: right;
    margin-top: 100px;
} */



